.btn-default{
  color:#6ac3a7;
  font-size: 24px;
}

.btn-download{
  background-color: #e85656;
  color:#fff;
}
.navbar-inverse{
  color:#333 !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.navbar-header a{
  padding:15px;
}

.navbar-brand{
  margin-top: 10px;
  font-size: 42px;
  font-weight: bold;
}
.navbar-brand:hover{
  color:#000 !important;

}

@media (max-width: 767px) {
.navbar-header:after, .navbar-header:after{
  display:block !important;
  content:none;
}
}
